body {
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
}

.box {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  padding: 10px 20px;
  width: 95%;
  margin-top: 10px;
}
